# Mode: "normal" or "test" (case insensitive)
mode = "test"

[run_params]
run_id = "test"
molecule = "chd"
results_dir = "results"

[files]
forcefield_file = "forcefields/openff_unconstrained-2.0.0.offxml"
start_xyz_file = "xyz/start.xyz"
start_sdf_file = "sdf/chd_start.sdf"
reference_xyz_file = "xyz/chd_reference.xyz"
target_file = "xyz/target.xyz"

[options]
# Run normal modes calculation with PySCF
run_pyscf_modes_bool = false
pyscf_basis = "6-31g*"
verbose_bool = false
write_dat_file_bool = false

[sampling]
# Sampling parameters
sampling_bool = false
boltzmann_temperature = 300.0

[scattering_params]
inelastic_bool = true
pcd_mode_bool = true
excitation_factor = 1.0
ewald_mode_bool = false

[scattering_params.q]
qmin = 1e-9
qmax = 8.0
qlen = 81

[scattering_params.th]
tmin = 0.0
tmax = 1.0
tlen = 21

[scattering_params.ph]
pmin = 0.0
pmax = 2.0
plen = 21

[scattering_params.noise]
noise_value = 0.0
noise_data_file = "noise/noise.dat"

[simulated_annealing_params]
sa_starting_temp = 1.0
sa_nsteps = 4000
greedy_algorithm_bool = true
ga_nsteps = 4000
sa_step_size = 0.012
ga_step_size = 0.012
nrestarts = 5
ntotalruns = 5
bonds_bool = true
angles_bool = true
torsions_bool = true
tuning_ratio_target = 0.9
c_tuning_initial = 0.001
non_h_modes_only_bool = false
hf_energy_bool = false

[molecule_params.chd]
natoms = 14
nmodes = 36
# This normal mode file is redundant if you run the modes with PySCF in the options
nmfile = "nm/chd_normalmodes.txt"
hydrogen_mode_range = [28, 36]
sa_mode_range = [0, 36]
ga_mode_range = [0, 36]
bond_ignore_array = [[0, 5]]
angle_ignore_array = []
torsion_ignore_array = []
rmsd_indices = [0, 1, 2, 3, 4, 5]
bond_indices = [0, 5]
angle_indices = [0, 3, 5]
dihedral_indices = [0, 1, 4, 5]

[molecule_params.nmm]
natoms = 18
nmodes = 48
nmfile = "nm/nmm_normalmodes.txt"
hydrogen_mode_range = [38, 48]
sa_mode_range = [0, 48]
ga_mode_range = [0, 48]
bond_ignore_array = []
angle_ignore_array = [[6, 3, 1], [6, 3, 5]]
torsion_ignore_array = [
    [0, 1, 3, 6],
    [1, 3, 6, 7],
    [1, 3, 6, 8],
    [1, 3, 6, 9],
    [5, 3, 6, 7],
    [5, 3, 6, 8],
    [5, 3, 6, 9],
    [2, 1, 3, 6],
    [4, 1, 3, 6],
    [6, 3, 5, 10],
    [6, 3, 5, 16],
    [6, 3, 5, 17]
]
rmsd_indices = [3, 5, 6, 10, 12, 0, 1]
bond_indices = [6, 12]
angle_indices = [6, 3, 12]
dihedral_indices = [6, 3, 5, 10]
